<div>
<div class="row" id="student-info-section">
  <div>
    <div>
      <div id="upcoming-assignments">
        <h4>Courses</h4>{% include 'entity_list' key: 'Higher Ed - My Current Course History' %}
      </div>
    </div>
  </div>
</div>
<div class="row" id="student-info-section">
   <div>
      <div class="col-md-12 col-lg-6" id="left-grid">
        <div id="upcoming-assignments">
          <h4>Extra Curricular Activities</h4>{% include 'entity_list' key: 'Higher Ed - Extra Curricular Activities' %}
        </div>
      </div>
      <div class="col-md-12 col-lg-6" id="right-grid">
        <div id="upcoming-assignments">
          <h4>Recommended Resources</h4>{% include 'entity_list' key: 'Higher Ed - Student Resources' %}
        </div>
      </div>
   </div>
</div>
<div class="row" id="student-info-section">
  <div>
    <div>
      <div id="upcoming-assignments">
        <h4>My Assignments</h4>{% include 'entity_list' key: 'Higher Ed - My Assignments' %}
      </div>
    </div>
  </div>
</div>
</div>