<div>
<div class="row" id="student-info-section">
   <div>
      <div class="col-md-12 col-lg-6" id="left-grid">
        {% include 'snippet' snippet_name:'Higher Ed - Grid Top Left' %}
      </div>
      <div class="col-md-12 col-lg-6" id="right-grid">
        {% include 'snippet' snippet_name:'Higher Ed - Grid Upper Right' %}
      </div>
      <div class="col-md-12 col-lg-12" id="left-grid">
        {% include 'snippet' snippet_name:'Higher Ed - Grid Bottom Left' %}
      </div>
   </div>
</div>
</div>